### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/npm
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### MAC OSX ###
.DS_Store

### NODEJS ###
/node_modules/

### Custom ###
/config/
